@import '../../_style/var.less';

.iotp-card {
  background: #fff;
  border-radius: 8px;
  color: #15161A;
  padding: @widgetPadding;
  margin: @widgetMargin;
  overflow: hidden;
  box-sizing: border-box;
  &__icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    color: #15161A;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    color: #A1A7B2;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
  &__ft{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuNSA0LjUgMTIgOWwtNC41IDQuNSIgc3Ryb2tlPSIjQkJCIiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
  }
}

// .iotp-card.card_disabled {
//   .iotp-card__title {
//     color: #A1A7B2;
//   }
// }

.iotp-card_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;

  .iotp-card__icon {
    margin-right: 8px;
  }

  .iotp-card__title {
    flex-grow: 1;
  }

  .iotp-card__desc {
    margin-left: 8px;
  }
}

.iotp-card_column {
  display: flex;
  flex-direction: column;
  min-height: 110px;

  &__icon {
    margin-bottom: 12px;
  }

  &__desc {
    margin-top: 2px;
  }
}
