.iotp-slid-content {
  color: #000;
  touch-action: none;
  overflow: hidden;
  .slid-inner {
    background: #ffffff;
    padding: 16px;
    margin: 16px;
    border-radius: 15px;
  }

  .slid-text {
    line-height: 32px;
    font-size: 43px;
  }

  .slid-body {
    position: relative;
    margin-top: 65px;
  }

  .slid-body .number-control-value {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.17px;
    border: 0.5px solid #d9d9d9;
    background-color: #fff;
    border-radius: 26.5px;
    min-width: 50px;
    padding: 2px 5px;
    position: absolute;
    top: -40px;
    transform: translateX(-50%);
    white-space: nowrap;
    margin-right: 10px;
  }

  .slid-name {
    display: inline-block;
    margin-left: 10px;
  }
}
