@import '../_style/var.less';

.iotp-enum-btn {
  background: #ffffff;
  color: #000;
  padding: @widgetPadding;
  margin: @widgetMargin;
  border-radius: 15px;

  &-title {
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;

    > span {
      margin-left: 10px;
    }
  }

  .iotp-enum-btn-body {
    .iotp-enum-btn-item {
      float: left;
      margin-bottom: 30px;
    }
  }
}

